
h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
}


.card{
    --size: calc(5px + 1vmax);

    display: inline-block;
    width: calc(8*var(--size));
    padding: 2.5em calc(10*var(--size)) 2.5em 2.5em;

    background-image: linear-gradient(90grad,#ffbc92,#ff6b92);
    font-family: "Roboto Condence", sans-serif;
    font-size: calc(5px + 1vw);
    border-radius: 5px;
    font-weight: 400;
    color: white;

    overflow: hidden;
    position: relative;

}

#blue{
    background-image: linear-gradient(90grad,#85c6f7,#1389de);
}

#turquoise{
    background-image: linear-gradient(90grad,#78d8d1,#0fceb0);
}

.card h1{
    font-size: var(--size);
}


.card h2{
    font-size: calc(5px + 1.5vmax);
    padding-top: 1em;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.card h3{
    padding-top: 3em;
    font-size: calc(3px + 1vmax);
}

.card::before, .card::after{

    content: '';
    border-radius: 50%;

    height: calc(11.5*var(--size));
    width: calc(11.5*var(--size));

    position: absolute;
    background-color: white;
    opacity: 0.2;
}


.card::before{
    top: calc(100% - 6*var(--size));
    left: calc(100% - 10*var(--size));
}


.card::after{
    top: calc(-1.5*var(--size));
    left: calc(100% - 6*var(--size));
}







